<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jed.triviaproject" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Trivia Project"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="59 Seconds"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionScreen"
            android:label="@string/title_activity_question_screen" >
        </activity>
        <activity
            android:name=".ResultScreen"
            android:label="@string/title_activity_result_screen" >
        </activity>
        <activity
            android:name=".HighScoreScreen"
            android:label="@string/title_activity_high_score_screen"
            android:parentActivityName=".StartMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jed.triviaproject.StartMenu" />
        </activity>
    </application>

</manifest>
